@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: casablanka;
    src: url(../assets/fonts/Casablanca/Casablanca.Font.ttf);
}
body {
    min-height: 100vh;
    max-width: 1440px;
    margin: auto;
    font-family: casablanka , sans-serif ,Arial, Helvetica;
}